.btn__icon {
  position: absolute;
  background-color: transparent;
  border: none;
  margin-top: 15px;
  margin-left: 90px;
}

.btn__icon:focus {
  outline: none;
}

.btn__icon:hover {
  background-color: var(--third-color);
  border-radius: 50%;
}
