.imageContainer {
  margin: 20px;
  display: grid;
  place-items: center;
}

.btn__favouritePreview {
  position: sticky;
  background-color: transparent;
  border: none;
  display: grid;
  margin-bottom: 45%;
  margin-left: 35%;

  grid-row-start: 1;
  grid-column-start: 2;
}

.btn__favouritePreview:hover {
  background-color: var(--third-color);
  border-radius: 50%;
}

.imageThumb {
  border: var(--third-color) 1px solid;
  border-bottom: none;
  border-right: none;
  width: 40%;
  margin: 0;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;

  grid-area: 1/2/2/3;
}
.imageAuthor {
  border: var(--third-color) 1px solid;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 40%;
  margin: 0;
  padding: 15px;
  text-align: center;
  grid-row-start: 2;
  grid-column-start: 2;
}
